{
    "Logging": {
        "IncludeScopes": false,
        "LogLevel": {
            "Default": "Debug",
            "System": "Information",
            "Microsoft": "None"
        }
    },

    "Endpoints": {
        "MongoDbHost": "mongodb://localhost:27017",
        "MongoDbName": "userstore-develop"
    },

    "EventStore": {
        // To connect to an Event Store cluster use this instead:
        // "Host": "discover://username:password@myserver:1113",
        "Host": "tcp://localhost:1113",
        "Stream": "userstore-develop"
    },

    "Auth": {
        "Domain": "hip.eu.auth0.com",
        "Authority": "https://hip.eu.auth0.com/",
        "Audience": "https://hip.cs.upb.de/API",
        "SubClaimType": "https://hip.cs.upb.de/sub",
        "RolesClaimType": "https://hip.cs.upb.de/roles",
        "Auth0ManagementApiAudience": "https://hip.eu.auth0.com/api/v2/",
        "ClientId": "See Auth0.com > Clients > UserStore",
        "ClientSecret": "See Auth0.com > Clients > UserStore"
    }
}
