{
    "Logging": {
        "IncludeScopes": false,
        "LogLevel": {
            "Default": "Debug",
            "System": "Information",
            "Microsoft": "None"
        }
    },
    
    "EventStore": {
        // To connect to an Event Store cluster use this instead:
        // "Host": "discover://username:password@myserver:1113",
        "Host": "tcp://localhost:1113",
        "Stream": "userstore-develop"
    },

    "Auth": {
        "ClientId": "See Auth0.com > Clients > UserStore",
        "ClientSecret": "See Auth0.com > Clients > UserStore"
    }
}
